body {
  background-color: #212121;
  color: #ffffff;
}

h2 {
  font-weight: normal;
  font-size: 20px;
}

h3 {
  font-weight: normal;
  font-size: 18px
}

article {
  background-color: #303030;
  border: solid 1px #000000;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
}

p {
  line-height: 1.5
}
